<% include header.ejs %>
<script src="/javascripts/updateTime.js"></script>
<script>
    function sign_in(){
        $.post('/sign/sign_in',function(res){
            if(res.success){
                alert("签到成功！");
                location.reload();
            }
        });
    }
    function sign_history(){
        location = "/sign/sign_history";
    }
</script>
<div>
    <h3><%=user.realname%>，欢迎进入签到系统！</h3>
    
        <div>
            <%if(hasSignIn){
                %>
            <button id="hasSignInBtn" class="btngray" type="button">今日已签到</button>
                <%
            }else{
                %>
            <button id="unSignInBtn" class="btn" type="button" onclick="javascript:sign_in();">签到</button>
                <%
                }%>
        </div>

        <div><button class="record" onclick="javascript:sign_history();">查看签到记录及次数</button></div>
</div>

<% include footer.ejs%>