body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  position: relative ;
}

a {
  color: #00B7FF;
}

.btn{ 
	width: 80px;
	height: 40px; 
	background-color: red;
	border-radius: 6px;

}
.btngray{
	width: 80px;
	height: 40px; 
	background-color: #f5f5f5;
	border-radius: 6px;
}
.footer{
	position: absolute;
	bottom: 0px;
}
.record{
	width: 160px;
	height: 40px; 
	background-color:#C0d9d9;
	border-radius: 6px;

}

